#about {
  .center {
    display: flex;

    align-items: center;

    justify-content: center;
  }
  .employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .big {
      max-width: 33vw;
      padding: 3em;
    }
    .medium {
      max-width: 20vw;
      padding: 1em;
    }
    /////////////////hover
    .hover_container {
      position: relative;
      width: 100%;
    }
    img {
      opacity: 1;
      display: block;
      max-width: 100%;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }

    .hover_middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .hover_container:hover img {
      opacity: 0.3;
    }

    .hover_container:hover .hover_middle {
      opacity: 1;
    }

    .hover_text {
      background-color: green;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }

    //////endhover

    img {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 736px) {
    .employees {
      margin: 2em 0em;
      .big,
      .medium {
        text-align: center;
        max-width: 95vw;
        padding: initial;

        img {
          max-width: 60vw;
          margin: auto;
        }
      }
    }
  }
}
