<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      {% picture favicon/ymmfav.png --link / --alt ymmlogo --a class="logo"
      --img width="50" %}
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        {%for menu in site.data.nav%}

        <li>
          <a href="{{menu.url}}">{{menu.name}}</a>
          {%if menu.sub%}
          <ul class="nav-dropdown">
            {% for ln in menu.sub%}
            <li>
              <a href="{{ln.url}}">{{ln.name}}</a>
            </li>
            {%endfor%}
          </ul>
          {%endif%}
        </li>

        {%endfor%}
      </ul>
    </nav>
  </div>
</section>
