---
layout: page
permalink: /
title: Home
---

<!-- Banner -->
<section id="banner">
  <h1>Young Modern Minds Inc.</h1>
  <p>
    Providing underrepresented and disadvantaged youth with opportunities in
    academia and the real world to inspire passions and success
  </p>
  <div>
    <style>
      #banner {
        background-image: url("/assets/images/banner.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }
    </style>
  </div>
</section>
    {% comment %}

<!-- One -->
<section id="one" class="wrapper special">
  <div class="inner">
    <header class="align-center">
      <h2>Teen Authors Webinar</h2>
      <p>
        Presented by Triangle Writers Studio and Young Modern Minds Inc.<br />Saturday,
        October 17, 2020 from 4:00 to 5:00 pm EDT
      </p>
      <ul class="actions">
        <li>
          <a href="work.html" class="button special"
            >More Information & Sign Up</a
          >
        </li>
      </ul>
    </header>
        {% comment %}

    <div class="flex flex-2">
      <article>
        <div class="image fit">
          <img src="images/pic01.jpg" alt="Pic 01" />
        </div>
        <header>
          <h3>4:00 - 5:00 pm via Zoom</h3>
        </header>
        <p></p>
        <footer>
          <a href="work.html" class="button special"
            >More Information & Sign Up</a
          >
        </footer>
      </article>
      -->
      <article>
        <div class="image fit">
          <img src="images/pic02.jpg" alt="Pic 02" />
        </div>
        <header>
          <h3>Fusce pelrrrrrrrrrrrrrrrrrrrrrrrrrrrrlentesque tempus</h3>
        </header>
        <p>
          Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis
          vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo
          ullamcorper magna non comodo sodales tempus.
        </p>
        <footer>
          <a href="#" class="button special">More</a>
        </footer>
      </article>
    </div>
    {% endcomment %}
    {% endcomment %}

  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
  <div class="inner">
    <header>
      <h2>Join the Official Young Modern Minds Inc. Discord Server!</h2>
      <h3>
        The Young Modern Minds Inc. Discord server is a place where high school
        students can connect and share resources, advice, and opportunities.
        Feel free to invite your friends to the server as well, so they can be a
        part of the Young Modern Minds community.
      </h3>
    </header>
    <ul class="actions">
      <li>
        {% for i in site.data.social %} {% if i.platform == "Discord" %}
        <a href="{{i.link}}" class="button special big">JOIN</a>
        {%break%} {%endif%} {%endfor%}
      </li>
    </ul>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
      <article>
        <h3>Our Work</h3>
        <p>Find out more about what we do.<br /></p>
        <a href="/work/" class="button special">Our Work</a>
      </article>
      <article>
        <h3>About</h3>
        <p>Meet the team behind Young Modern Minds Inc.</p>
        <a href="/team/" class="button special">Our Team</a>
      </article>
      <article>
        <h3>Contact</h3>
        <p>Reach out to us for business inquiries and possible partnerships.</p>
        <a href="/contact/" class="button special">Contact</a>
      </article>
    </div>
  </div>
</section>
