---
layout: page
permalink: /work/
title: Our Work
---

<section id="work" class="wrapper">
  <div class="inner">
    <header class="align-center">
      <h2>Our Work</h2>
    </header>

    {%assign work = site.work |reverse| first%}
    <a href="{{work.url}}"><b>Our most recent event</b></a>
    <hr>
    {{work.content}}

<hr>
{%if site.work.size > 1%}
    <h2>Previous Work</h2>
    <ul>
          {%assign work = site.work |reverse%}

      {% for work in work offset:1%}
      <li><a href="{{work.url}}">{{work.name}}</a> ({{work.date | date: "%B %Y"}})</li>
      {% endfor %}
    </ul>
{%endif%}
    
  </div>
</section>
