---
layout: default
---

{% include header2.html %} 
{{content}}

{% include footer.html %}
<!-- Scripts -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"
  integrity="sha512-ju6u+4bPX50JQmgU97YOGAXmRMrD9as4LE05PdC3qycsGQmjGlfm041azyB1VfCXpkpt1i9gqXCT6XuxhBJtKg=="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"
  integrity="sha512-LpUt6fJuTMm3o0q5w8ydMXpGho2tqAoaRu6MP6Tt0X0Klct8xlToutBk7Wh51RL9n7/QSplQnrUA1U3S5YzMng=="
  crossorigin="anonymous"
></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
